body{
  background-color: #C2C9BA;
  font-family: 'Libre Franklin', sans-serif;
  color: #264039;
}
h1{
  color: #264039;
}

button{
border-color: black;
background-color: whitesmoke;
padding: 15px 32px;
box-align: right;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 25%;
}

img{
 padding: 1em;
 
}


main{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nonwrap;
}

li {
  float: right;
}
li a{
  display: incline;
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  padding: 1em;
}


a {
  display: block;
  padding: 8px;
  background-color: hsl(143, 13%, 35%);
}


h2{
  font-size: xx-large;
}

